.container {
    display: flex;
    gap: 100px;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 50px;
}
/* this is like a small code block that can copy */
.subtitle {
    color: var(--btn);
    font-size: 20px;
    font-weight: 300;
}

.code {
    font-family: monospace;
}

/* make this codeblock can be copied by a button  */
.codeblock {
    background-color: #f5f5f5;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
}

.title {
    font-size: 54px;
}

.desc {
    font-size: 20px;
    font-weight: normal;
}

.boxes {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.box p {
    font-size: 20px;
    font-weight: normal;
}

.link {
    color: gray;
    font-family: monospace;
    font-size: 15px;
    font-weight: lighter;
    cursor: pointer;
    text-decoration: underline;
}

.imgContainer {
    flex: 1;
    position: relative;
}

.img {
    object-fit: contain;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        text-align: center;
    }

    .boxes {
        flex-direction: column;
        gap: 50px;
    }
}
