/* :root {
    --bg: white;
    --bgSoft: #f5f5f5;
    --text: black;
    --textSoft: gray;
    --btn: black;
    --btnText: white;
} */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 72.22% 50.59%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5% 64.9%;
        --radius: 0.5rem;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
    }
}

@layer base {
    * {
        @apply border-border;
    }
    body {
        @apply bg-background text-foreground;
        /* font-feature-settings: "rlig" 1, "calt" 1; */
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
    }
}

@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--bg);
    color: var(--text);
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 1636px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
    min-height: 95vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    /* below navbar */
    padding-top: 70px;
    /* above footer */
    /* padding-bottom: 20px; */
}

@media (max-width: 1536px) {
    .container {
        width: 1366px;
    }
}

@media (max-width: 1366px) {
    .container {
        width: 1280px;
    }
}

@media (max-width: 1280px) {
    .container {
        width: 1024px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 768px;
    }
}

@media (max-width: 768px) {
    .container {
        width: 640px;
    }
}

@media (max-width: 640px) {
    .container {
        width: 475px;
    }
}
@media (max-width: 475px) {
    .container {
        width: 380px;
    }
}

b,
strong {
    @apply font-semibold;
}

.shadow {
    @apply shadow-[0_12px_24px_-6px_rgba(45,67,121,0.1)];
}

/* BLOG POST CONTENT STYLES */
.rich-content > * {
    text-align: justify !important;
}

.rich-content a:link {
    color: #0033a0;
}

.rich-content a:visited {
    color: #551a8b;
}

.rich-content a:hover,
.rich-content a:active {
    color: #0000ee;
    text-decoration: underline;
}

.rich-content dd,
.rich-content dt {
    line-height: 1.5;
}

.rich-content dt {
    font-weight: bold;
}

.rich-content li {
    line-height: 1.5;
}

.rich-content ol {
    list-style: decimal inside;
}

.rich-content ol li {
    padding-left: 2rem;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}

.rich-content ul {
    list-style: circle inside;
}

.rich-content ul li {
    padding-left: 2rem;
    background-position: 0 0;
    background-size: 1.6rem 1.6rem;
    background-repeat: no-repeat;
}

.rich-content img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    /* width: 100%; */
    padding: 20px 0;
    border-radius: calc(var(--radius) - 2px);
}

.rich-content figure {
    padding-bottom: 25px;
    padding-top: 25px;
}

.rich-content blockquote {
    @apply rounded border-l-4 border-gray-500 pl-4 italic text-gray-700;
    margin-top: 15px;
    margin-bottom: 15px;
}

.rich-content table {
    margin-left: auto;
    margin-right: auto;
    overflow-x: auto !important;
}

.rich-content h1,
.rich-content h2,
.rich-content h3,
.rich-content h4,
.rich-content h5,
.rich-content h6 {
    margin-bottom: 0.5em !important;
    margin-top: 0.7em !important;
    font-weight: 500 !important;
    color: #0033a0;
    /* font-family: 'Kanit', sans-serif !important; */
    line-height: 1.2 !important;
    text-transform: none;
}

/* Dark h1 color */
:is(.dark) .rich-content h1,
:is(.dark) .rich-content h2,
:is(.dark) .rich-content h3,
:is(.dark) .rich-content h4,
:is(.dark) .rich-content h5,
:is(.dark) .rich-content h6 {
    /* Blue-600 */
    color: #2563eb;
}

.rich-content h1 {
    font-size: 2.4609375rem !important;
}

.rich-content h2 {
    font-size: 1.96875rem !important;
}

.rich-content h3 {
    font-size: 1.72265625rem !important;
}

.rich-content h4 {
    font-size: 1.4765625rem !important;
}

.rich-content h5 {
    font-size: 1.23046875rem !important;
}

.rich-content h6 {
    font-size: 1.125rem !important;
}

figcaption {
    color: rgb(104, 113, 118);
    font-size: 14px !important;
    font-weight: 500;
    line-height: 20px;
    padding: 5px 10px;
    text-align: center;
}

/* Change view counter of blog apply flip animation */
.flip {
    @apply transform rotate-180;
    animation: flip 0.5s;
    /* slow motion when change */
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

@keyframes flip {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(180deg);
    }
}
