# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.DS_Store
# dependencies
/backend/node_modules
/frontend/node_modules
/backend/.pnp
/backend/.pnp.js

# testing
/backend/coverage

# next.js
/backend/.next/
/backend/out/

# production
/backend/build

# misc
/backend/.DS_Store
/backend/*.pem

# debug
/backend/npm-debug.log*
/backend/yarn-debug.log*
/backend/yarn-error.log*

# local env files
/backend/.env.local
/backend/.env.development.local
/backend/.env.test.local
/backend/.env.production.local

# env files
/backend/.env

# vercel
/backend/.vercel

/backend/**/*.trace
/backend/**/*.zip
/backend/**/*.tar.gz
/backend/**/*.tgz
/backend/**/*.log
/backend/package-lock.json
/backend/**/*.bun

# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/frontend/.pnp
/frontend/.pnp.js
/frontend/.yarn/install-state.gz

# testing
/frontend/coverage

# next.js
/frontend/.next/
/frontend/out/

# production
/frontend/build

# misc
/frontend/.DS_Store
/frontend/*.pem

# debug
/frontend/npm-debug.log*
/frontend/yarn-debug.log*
/frontend/yarn-error.log*

# local env files
/frontend/.env*.local
/frontend/.env

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

