.container {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
}

/* .logo {
    font-size: 30px;
    font-weight: bold;
} */
