.post {
    /* margin: 20px 0px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.detail {
    display: flex;
    align-items: center;
    gap: 20px;
}

.postButton {
    padding: 5px 10px;
    background-color: var(--text);
    color: var(--bg);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
