.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper {
    width: 500px;
    background-color: var(--bgSoft);
    padding: 50px;
    display: flex;
    flex-direction: column;
    /* text-align: center; */
    gap: 10px;
    border-radius: 5px;
}

.github {
    width: 100%;
    padding: 20px;
    cursor: pointer;
    /* background-color: var(--bg);
    color: #000;
    border-color: var(--text);
    font-weight: bold;
    border: 1px solid var(--btn);
    border-radius: 5px; */
}
